body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-container {
    display: flex;
    width: 50%;
    max-width: 600px;
}
.chat-input{
    flex-direction: row;
    align-items: left;
}
.chat-feed{
    flex-direction: column;  
    align-items: left;
}
input{
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}
.chat-input-name {
    width: 20%;
}
.chat-input-msg{
    width: 65%;
}
button{
    height: 28px;
    margin-top: 10px;
}
.chat-header{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.chat-box{
    border: 2px solid black;
    height: 300px;
    padding-left: 5px;
    overflow: auto;
}
p{
    overflow-wrap: break-word;
}
@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}



/* new styles for the interactive buttons */
.like-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
    
.dislike-button{
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}